@{
    ViewBag.Title = "SecondPage";
}
<html>
<head>
</head>
<body>
    <br />
    <section id="footer" class="bottom">
        <div class="panel-footer">
            <div class="panel-body panel-info">
                <label style="color:purple">
                    <input type="checkbox" />Review Later
                </label>
                <button type="button" class="btn btn-primary pull-right">NEXT</button>
            </div>
        </div>
    </section>
</body>
</html>




